body{width: 100%;}

.ust-phone{display: none;}
.menu-phone{display: none;}
.İletisim-phone{display: none;}

.ust{width: 100%;
    height: 200px;
color: black; }

.baslik{display: flex; position: relative;
  left:8% ;}

h1{display: flex;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.top-menu{position: relative;
  left: 75%;
  bottom: 30%;
font-size: 12px;
color: #4e4949;;
font-family: 'ubunturegular';
 display: flex; 
}

.sosyalmedya{position: relative;
  left: 80%;
  bottom:20%;
             display: flex;}

             a{text-decoration: none;}
             .mh{margin-right: 5px; color: #4e4949;}
             .mb{margin-right:5px;
                 margin-left:5px; color: #4e4949;}
            .il{margin-left:5px; color: #4e4949;}
        
            .nav {
                 width:700px;
                 height: 0px;
                position: relative;
                left:24%;}  
            .menu{display: flex;
                  width:70%;
                background-color: #4e4949;
                float:left; 
            border-radius: 5px;}
            .İletisim{display: flex;
              background-color: red;
              float: right;
              position: relative;
              
              width: 30%;
              
              border-radius: 5px;
          color: aliceblue;}
            /* Slideshow container */
.slideshow-container {
  width: 700px;
  position: relative;

  margin:auto;
}

/* Hide the images by default */
.myslides{
  
  width:100%;
}
            .link{margin-right: 5px;
                  margin-left: 10px;
                margin-top:5px;
            color: aliceblue;}
            

            .text{margin-left: 50px;
      margin-top: 5px;}
.about-us{width: 100%;}
      
.itl{margin-left: 30px;
     margin-top:5px;}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2px;
  padding: 16px;
  color:white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
 right:0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-menu{width: 100%;}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.hk{float: left;
width: 700px;;}
.about-us{
  position:relative;
  left: 30%;}
  .foto
  {position: relative;
  left:30%;
bottom:20px;}

.metin{
    display: flex;
    position: relative;
    float: right;
    bottom: 240px;
    left: 350px;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */




