@media screen and (min-device-width:720px) and (max-device-width:980px) 

{
body{max-width: 980px;}
  .nav {
    width:700px;
    height: 0px;
   position: relative;
   left:14%;}  
.menu{display: flex;
     width:70%;
   background-color: #4e4949;
   float:left; 
border-radius: 5px;}
.İletisim{display: flex;
 background-color: red;
 float: right;
 position: relative;
 
 width: 30%;
 
 border-radius: 5px;
color: aliceblue;}
}
.hk{float: left;
  width: 600px;}
  .about-us{
    position:relative;
    left: 20%;}
    .foto
    {position: relative;
    left:20%;
  bottom:20px;}

  .metin{
    display: flex;
    position: relative;
    float: right;
    bottom: 240px;
    left: 300px;
}